# Default ignored files
/shelf/
/workspace.xml
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/src/Makefile
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/.idea
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/out
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/src/output
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/src/antlr-4.9.3-complete.jar
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/src/*.class
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/src/Main.java
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/src/zobaczymy.ll
/home/olimpia/Desktop/Workspace/JFK/OwnLanguage/Java/prjantlr1/prjantlr1.iml
/home/olimpia/.jdks/openjdk-17.0.2